PORT=3000

PGADMIN_EMAIL=postgres@postgres.org
PGADMIN_PASSWORD=postgres

DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=:memory:
DB_HOST=localhost
DB_PORT=5432

TYPEORM_TYPE=sqlite
TYPEORM_SYNCHRONIZE=true

JWT_SECRET=topsecret42
JWT_EXPIRES_IN=3600
